<!DOCTYPE html>
<html lang={{ if .Site.IsMultiLingual }}{{.Language}}{{end}}>
    {{ partial "header-parts/head.html" . }}
    <body>
        <main>
            <div>
            <h1>{{ .Title }}</h1>
                  <ul>
                      {{ range .Pages.ByDate }}
                          <li><a href="{{ if isset .Params "external_link"}}{{ .Params.external_link }}{{ else }}{{ .Permalink }}{{ end }}" {{ if isset .Params "external_link"}}target="_blank"{{ end }}>{{ .Title }}</a></li>
                      {{ end }}
                  </ul>
            </div>
          </main>
    </body>
</html>