<article class="language_box" id="language_box">
    <div class="container h-100">
        <div class="row h-100 py-6">
            {{ $currentLang := .Language }}
            {{ if $.Site.IsMultiLingual }}
                {{ if eq .Language $.Site.Language }}
                    <div class="col-lg-4 cnt_izq">
                        <div class="tit_lng">{{ .Language.LanguageName }} </div>
                        <figure>
                            <img src="{{"./images/escudo_es.svg" | absURL}}" alt="Escudo" class="img-fluid" />
                        </figure>
                    </div>
                    <div class="col-lg-8 cnt_der">
                        <ul class="nav flex-column">
                            {{ range $.Site.Home.AllTranslations }}
                            {{ if ne $currentLang .Language }}<li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>{{ end }}
                            {{end}}
                        </ul>
                    </div>
                {{end}}
            {{end}} 
        </div>
    </div>
</article>