<a class="skip-main" href="#button_contenido_principal">Saltar al contenido principal</a>
<div class="logo">
    <a href="https://www.lamoncloa.gob.es/Paginas/index.aspx" class="logo1" target="_blank"><img src="{{ "images/gobierno_de_espana_logo.svg" | absURL }}" alt="logo" class="img-fluid"></a>
    <a href="{{ .Site.BaseURL }}" class="logo1 ml-neg3"><img src="{{ "images/ministerio_ubiverdidades.svg" | absURL }}" alt="logo" class="img-fluid"></a>
    <a href=" https://planderecuperacion.gob.es/" class="logo2" target="_blank"><img src="{{ "images/logo2.png" | absURL }}" alt="logo2" class="img-fluid"></a>
</div>