<!DOCTYPE html>
<html lang={{ if .Site.IsMultiLingual }}{{.Language}}{{end}}>
  {{ partial "header-parts/head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <section>
      <article id="header_interno">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 box">
                  <div class="img" style="background: url({{"./images/Becas_ayudas_al_Estudio.jpeg" | absURL }});"></div>
                  <h2>{{ i18n .Title }}</h2>
              </div>
          </div>
      </div>
      </article>
    </section>
    {{ partial "includes/breadcrumb.html" . }}
    <section>
      {{ $callPages := (.Pages.ByParam "call_start").Reverse }}
      {{ $calls := (.Paginate ($callPages.GroupByParam "call_status").Reverse 20).PageGroups }}
      {{ $paginator := .Paginator 20 }}
      <article id="section_sub_title" class="cnt_xxl_large mb-4">
          <div class="container">
              <div class="row">
                  <div class="col-12 subtitle d-flex align-content-center">
                      <i class="fas fa-bullhorn d-none d-lg-inline-block"></i>
                      <i class="fal fa-bullhorn d-block d-lg-none"></i>
                      {{ $outOfTotalElements := (mul $paginator.PageNumber 20)}}
                      <h4>{{ i18n "Convocatorias de becas, ayudas y premios universitarios" }}:{{ if (le $outOfTotalElements $paginator.TotalNumberOfElements)}} {{ $outOfTotalElements }} {{ else }} {{ $paginator.TotalNumberOfElements }} {{ end }} de {{ $paginator.TotalNumberOfElements }}</h4>
                  </div>
              </div>
          </div>
      </article>
    </section>
    <article id="section_box_campus">
      <div class="container"> 
          <div class="row">
            {{ range $calls }}
              {{ range .Pages }}
                <div class="col-md-6 box_cards mb-30">
                    <a class="card" href="{{ .Permalink }}">
                        <div class="card-content content_hover content_gray_light">
                            <p class="card-text text_sbold">{{ .Title }}</p>
                        </div>
                        <div class="card-content content_gray">
                          <p class="card-text">{{ .Params.call_desc }}</p>
                          {{ if .Params.call_status }}
                            <p class="icon_text green">
                                <i class="fas fa-lock-open"></i>
                                {{ i18n "abierta" | upper }}
                            </p>
                          {{ else }}
                            <p class="icon_text red">
                                <i class="fas fa-lock"></i>
                                {{ i18n "cerrada" | upper }}
                            </p>
                          {{ end }}
                        </div>
                    </a>
                </div>
              {{ end }}
            {{ end }}
          </div>
          {{ partial "includes/pagination.html" (dict "paginator" $paginator "Scratch" $.Scratch) . }}
      </div>
  </article>
    {{ partial "home-page-sections/sponsors-sec.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>