<!DOCTYPE html>
<html lang={{ if .Site.IsMultiLingual }}{{.Language}}{{end}}>
  {{ partial "header-parts/head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <section>
      <article id="header_interno">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 box">
                  <div class="img" style="background: url({{"./images/Becas_ayudas_al_Estudio.jpeg" | absURL }});"></div>
                  <h2>{{ i18n .Title }}</h2>
              </div>
          </div>
      </div>
      </article>
    </section>
    {{ partial "includes/breadcrumb.html" . }}
    <section>
        <article class="calls">
            <div class="container container-xl">
                <div class="row">
                    <div class="col-12 content">
                        <div class="row">
                            <div class="col-12 icon_top">
                                <i class="fas fa-bullhorn"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 sp text_content">
                                <h1>{{ .Title }}</h1>
                                <div class="box">
                                    <p><b>Título:</b></p> 
                                    <p>{{ .Params.name }}</p>
                                </div>
                                <div class="box">
                                    <p><b>Estado de la convocatoria:</b></p>
                                    
                                    {{ if .Params.call_status }}
                                        <p class="icon_text green">
                                            <span>{{i18n "abierta" | upper}}</span>
                                            <i class="fas fa-lock-open"></i>
                                        </p>
                                    {{ else }}
                                        <p class="icon_text red">
                                            <span>{{i18n "cerrada" | upper}}</span>
                                            <i class="fas fa-lock"></i>
                                        </p>
                                    {{ end }}
                                </div>
                                {{ .Content }}
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12 justify-content-center button_modal box_buttons">
                                <button type="button" class="btn btn-lg btn_present" data-bs-toggle="modal" data-bs-target="#formContacto">
                                    INFORMACIÒN DE CONTACTO
                                </button>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-lg-12 content_collapse">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                Documentación de apoyo
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                            <div class="accordion-body">
                                                <article id="section_link">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="col-lg-12 box_card">
                                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor </p>
                                                                </div>
                                                                <div class="col-lg-12 cards_download_cnt">
                                                                    <div class="row">
                                                                        <div class="download_card">
                                                                            <a class="card" href="./documentos/archivo_de_prueba.pdf" target="_blank">
                                                                                <div class="card-header">
                                                                                    <i class="fal fa-download"></i>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                    <p class="text_file">
                                                                                        <i class="fal fa-file-pdf pdf_icon"></i> 
                                                                                        <span class="tit">archivo_de_prueba.pdf</span> (234 KB)
                                                                                    </p>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="download_card">
                                                                            <a class="card" href="./documentos/archivo_de_prueba.pdf" target="_blank">
                                                                                <div class="card-header">
                                                                                    <i class="fal fa-download"></i>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                    <p class="text_file">
                                                                                        <i class="fal fa-file-pdf pdf_icon"></i> PDF (ES) (234 KB)
                                                                                    </p>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="download_card">
                                                                            <a class="card" href="./documentos/archivo_de_prueba.pdf" target="_blank">
                                                                                <div class="card-header">
                                                                                    <i class="fal fa-download"></i>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                    <p class="text_file">
                                                                                        <i class="fal fa-file-pdf pdf_icon"></i> PDF (ES) (234 KB)
                                                                                    </p>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="download_card">
                                                                            <a class="card" href="./documentos/archivo_de_prueba.pdf" target="_blank">
                                                                                <div class="card-header">
                                                                                    <i class="fal fa-download"></i>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                    <p class="text_file">
                                                                                        <i class="fal fa-file-pdf pdf_icon"></i> PDF (ES) (234 KB)
                                                                                    </p>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                            <button class="accordion-button expanded" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                Convocatoria
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                            <div class="accordion-body">
                                                <article id="section_link">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <a href="#" class="btn btn_link_icon">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<i class="fas fa-external-link-alt"></i></a>
                                                                <a href="#" class="btn btn_link_icon">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<i class="fas fa-external-link-alt"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                Información general
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                            <div class="accordion-body">
                                                <article id="section_content_collapse">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-12 box d-flex flex-column align-items-start">
                                                                <h5>Modalidades</h5>
                                                                <p>Trabajos presentados por estudiantes de grado o máster en una de las siguientes áreas de conocimiento:</p>
                                                                <ul>
                                                                    <li> Ciencias Biológicas y Biomédicas</li>
                                                                    <li> Ciencias Experimentales, Exactas y Ambientales</li>
                                                                    <li> Ciencias Sociales y Humanidades</li>
                                                                    <li> Ingeniería y Arquitectura</li>
                                                                </ul>
                                                                <h5>Número de premios</h5>
                                                                <ul>
                                                                    <li> 25 premios con dotación económica </li>
                                                                    <li>  4 estancias en centros de investigación</li>
                                                                    <li> 5 premios a tutores</li>
                                                                </ul>
                                                                <h5>Incompatibilidades </h5>
                                                                <p>No podrán participar:</p>
                                                                <ul class="list_rules">
                                                                    <li> Quienes hayan sido finalistas en ediciones anteriores del certamen</li>
                                                                    <li> Quienes estén cursando o hayan cursado previamente enseñanzas de doctorado</li>
                                                                    <li>Quienes cursen su segundo o posterior máster</li>
                                                                    <li> Evaluación y selección de los trabajos</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 box_card_title d-flex">
                                                                <h3 class="title_separador"><i class="fas fa-download"></i>Documentación de apoyo</h3>
                                                            </div>
                                                            <div class="col-lg-12 box_card">
                                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor </p>
                                                            </div>
                                                            <div class="col-lg-12 cards_download_cnt">
                                                                <div class="row">
                                                                    <div class="download_card">
                                                                        <a class="card" href="./files/archivo_de_prueba.pdf" target="_blank">
                                                                            <div class="card-header">
                                                                                <i class="fal fa-download"></i>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                <p class="text_file">
                                                                                    <i class="fal fa-file-pdf pdf_icon"></i> 
                                                                                    <span class="tit">archivo_de_prueba.pdf</span> (234 KB)
                                                                                </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="download_card">
                                                                        <a class="card" href="./files/archivo_de_prueba.pdf" target="_blank">
                                                                            <div class="card-header">
                                                                                <i class="fal fa-download"></i>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                <p class="text_file">
                                                                                    <i class="fal fa-file-pdf pdf_icon"></i> PDF (ES) (234 KB)
                                                                                </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="download_card">
                                                                        <a class="card" href="./files/archivo_de_prueba.pdf" target="_blank">
                                                                            <div class="card-header">
                                                                                <i class="fal fa-download"></i>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                <p class="text_file">
                                                                                    <i class="fal fa-file-pdf pdf_icon"></i> PDF (ES) (234 KB)
                                                                                </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="download_card">
                                                                        <a class="card" href="./files/archivo_de_prueba.pdf" target="_blank">
                                                                            <div class="card-header">
                                                                                <i class="fal fa-download"></i>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <p class="text_body">Lorem ipsum dolor sit amet</p>
                                                                                <p class="text_file">
                                                                                    <i class="fal fa-file-pdf pdf_icon"></i> PDF (ES) (234 KB)
                                                                                </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            Convocatorias anterior y posterior
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                        <div class="accordion-body">
                                            <article id="section_link">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-12 d-flex flex-column align-items-start">
                                                            <a href="#" class="btn btn_link_icon">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<i class="fas fa-external-link-alt"></i></a>
                                                            <a href="#" class="btn btn_link_icon">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<i class="fas fa-external-link-alt"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 justify-content-center mb-150 box_buttons">
                        <button type="button" class="btn btn-lg btn_present" onclick="javaScript:location.href={{ .Site.BaseURL | printf "%s/convocatorias" }};">VER MÁS CONVOCATORIAS</button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade modal_contact" id="formContacto" tabindex="-1" aria-labelledby="formContactoLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <a href="#" class="close_button" data-bs-dismiss="modal" aria-label="Close"><i class="fal fa-times-circle"></i></a>
                        <p class="mb-xl-35">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <form action="">
                            <div class="mb-3">
                                <label for="txtNombre" class="form-label">Nombre *</label>
                                <input type="text" class="form-control" id="txtNombre" aria-describedby="nombreHelp">
                                <div id="nombreHelp" class="form-text error_color">Este campo es requerido.</div>
                            </div>
                            <div class="mb-3">
                                <label for="txtEmail" class="form-label">Email *</label>
                                <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="txtConsulta" class="form-label">Consulta *</label>
                                <textarea type="email" class="form-control" id="txtConsulta" aria-describedby="consultaHelp" rows="6"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-12 justify-content-center mt-4 box_buttons">
                                    <button type="button" class="btn btn-lg btn_present">
                                        Enviar Formulario
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </article>
    </section>
    {{ partial "home-page-sections/sponsors-sec.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>