@import "./variables";

// * HEADER *

// Header - Barra Azul principal.
header {
  background-color: $blue;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  .cnt_right {
    .cnt_top,
    .cnt_bottom {
      display: block;
      //position: relative;
      width: 100%;
    }
    .cnt_bottom {
      height: 45px;
      position: initial;
      .navbar {
        background-color: transparent !important;
        height: 100%;
        padding: 0px;
        position: initial;
        .navbar-nav {
          justify-content: flex-end;
          .nav-item {
            // Header - Modal Submenu
            .submenu_content {
              background-color: $white_submenu;
              color: black;
              display: none;
              min-height: fit-content;
              height: 550px;
              max-height: calc(100vh - 110px);
              position: absolute;
              top: 110px;
              left: -30px;
              right: -30px;
              bottom: 0;
              z-index: 10;
              .cnt_izq {
                border-right: 2px solid $blue;
                padding: 20px;
                .tit_lng {
                  color: $blue;
                  font-size: 38px;
                  font-weight: 300;
                  margin-bottom: 20px;
                }
                figure {
                  img {
                    max-height: 130px;
                  }
                }
              }
              .cnt_der {
                padding: 20px 20px 20px 50px;
                .nav {
                  li {
                    margin-bottom: 12px;
                    a {
                      color: black;
                      font-size: 18px;
                      text-decoration: none;
                      position: relative;
                      &:hover {
                        font-weight: 700;
                        &:after {
                          content: "";
                          position: absolute;
                          bottom: -5px;
                          left: 0;
                          right: 0;
                          height: 2px;
                          background-color: $blue;
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
            .nav-link.active {
              color: $yellow;
            }
            .submenu_content.active {
              display: block;
            }
          }
          // Header - Links Submenu
          .nav-link {
            color: white;
            height: 48px;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            padding: 8px 15px;
            display: flex;
            align-items: center;
            &:hover {
              color: $yellow;
            }
          }
          .active {
            color: $yellow;
          }
        }
      }
    }
    .cnt_top {
      border-bottom: 1px solid white;
      height: 65px;
      .search {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // Header - Estilos generales de links en Header
        a {
          color: white;
          margin-right: 20px;
          text-decoration: none;
          :nth-last-child(3) {
            margin-right: 0px;
          }
          &:hover {
            text-shadow: none;
          }
        }
        .active {
          color: $yellow;
        }
        // Header - Icono de boton de Busqueda
        .search_icon {
          margin-right: 0px;
          .fa,
          .fas {
            font-size: 22px;
            font-weight: 100;
          }
        }
      }
    }
  }
  .cnt_left {
    padding-top: 10px;
    // header - Logos principales del header
    .logo {
      display: flex;
      justify-content: initial;
      align-items: center;
      flex-direction: row;
    }
    .logo1 {
      min-width: 130px;
      img {
        max-height: 62px;
      }
    }
    .logo2 {
      min-width: 135px;
      img {
        max-height: 62px;
      }
    }
    .ml-neg3 {
      min-width: 90px !important;
      margin-left: 1px;
    }
  }
  .container-fluid {
    padding: 0px;
  }
}

// Header - Boton de "Sede Electronica"
.btn-sedelec {
  background-color: $yellow;
  border: 1px solid $blue;
  border-radius: 6px;
  color: $blue !important;
  font-size: 16px;
  font-weight: 400;
  height: 27px;
  line-height: 19px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 158.5px;
  &:hover {
    border: 1px solid $yellow;
    background-color: $blue;
    color: $yellow !important;
    font-weight: 500;
  }
  &:focus {
    border: 1px solid $yellow;
    background-color: $dark_blue;
    color: $yellow !important;
    font-weight: 500;
  }
}

// Header - Modal del Buscador
.search_box {
  background-color: $white_submenu;
  color: black;
  display: none;
  height: calc(100vh - 110px);
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  .escudo_esp {
    background: url("../images/escudo_es.svg") no-repeat;
    background-position: center;
    background-size: 124px 132px;
    height: 132px;
    width: 124px;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
  }
  .cnt_search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    // Texto de Busqueda
    .search-text {
      font-size: 29px;
      line-height: 33px;
      font-weight: 300;
      text-transform: uppercase;
      // imagen de Escudo
      figure {
        margin-bottom: 33px;
        img {
          max-height: 135px;
        }
      }
    }
    // Imput de busqueda
    .input-group {
      margin-left: 23px;
      margin-bottom: 0px !important;
      .form-control {
        border-color: $blue;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 45px;
        width: 400px;
        &:hover,
        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
        }
      }
      .input-group-text {
        background-color: $blue;
        border-color: $blue;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        color: white;
        width: 69px;
        justify-content: center;
        font-size: 1.4em;
      }
    }
  }
}

// Header - Modal de Lenguaje
.language_box {
  background-color: $white_submenu;
  color: black;
  display: none;
  height: 400px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  // Titulo General y Escudo de Lenguaje
  .cnt_izq {
    border-right: 2px solid $blue;
    padding: 20px;
    .tit_lng {
      color: $blue;
      font-size: 38px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    figure {
      img {
        max-height: 130px;
      }
    }
  }
  // Links de Lenguaje
  .cnt_der {
    padding: 20px 20px 20px 50px;
    .nav {
      li {
        margin-bottom: 12px;
        a {
          color: black;
          font-size: 18px;
          text-decoration: none;
          position: relative;
          &:hover {
            font-weight: 700;
            &:after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              right: 0;
              height: 2px;
              background-color: $blue;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// Header - Menu en Mobile
.menu_mobile {
  background-color: $white_submenu;
  display: none;
  height: 100vh;
  top: -1500%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
  // Franja azul oscuro dentro del modal Header Mobile
  .top {
    background-color: $dark_blue;
    height: 57px;
    padding: 28px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  // Links de Menu Mobile
  .content {
    padding: 20px 30px;
    overflow-y: scroll;
    height: calc(100vh - 122px);
    .list {
      list-style: none;
      margin: 0;
      padding: 0;
      .item {
        border-bottom: 1px solid $gray_border;
        min-height: 40px;
        display: block;
        overflow: hidden;
        &:last-child {
          border: 0;
        }
        .link {
          color: black;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          height: 40px;
          text-decoration: none;
          width: 100%;
          display: flex;
          align-items: center;
          flex-flow: row wrap;
          justify-content: space-between;
          .fal {
            font-weight: 400;
            -webkit-transition: 0.2s all;
            -moz-transition: 0.2s all;
            -o-transition: 0.2s all;
            -ms-transition: 0.2s all;
            transition: 0.2s all;
          }
          .rotate {
            transform: rotate(45deg);
            -webkit-transition: 0.2s all;
            -moz-transition: 0.2s all;
            -o-transition: 0.2s all;
            -ms-transition: 0.2s all;
            transition: 0.2s all;
          }
        }
        .submenu {
          display: none;
          .sublist {
            list-style: none;
            margin: 0;
            padding: 0px 10px 14px;
            .subitem {
              margin-bottom: 8px;
              display: flex;
              align-items: center;
              .sublink {
                color: black;
                font-size: 18px;
                font-weight: 300;
                line-height: 22px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.menu_mobile.show {
  top: 65px;
}

// Responsive para Header.
@media screen and (max-width: 991px) {
  header {
    .container-fluid {
      padding: 0px;
    }
    .px-30 {
      padding: 0px;
    }
    .cnt_left {
      width: 72%;
      padding: 0;
      display: flex;
      align-items: center;
      .logo {
        width: 100%;
      }
      .logo1,
      .logo2 {
        img {
          max-height: 50px;
        }
      }
      .logo1 {
        min-width: 105px;
      }
      .logo2 {
        min-width: 100px;
      }
      .ml-neg3 {
        min-width: 75px !important;
      }
    }
    .cnt_right {
      width: 28%;
      padding: 0;
      display: flex;
      align-items: center;
      position: initial;
      .cnt_top {
        border-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        .search {
          display: inline-block;
          height: auto;
          margin-right: 10px;
          .btn-sedelec,
          .language {
            display: none;
          }
        }
        .navbar-toggler {
          border: none;
          display: inline-block;
          color: white;
          width: 30px;
          .line {
            width: 100%;
            border-radius: 50px;
            float: left;
            height: 3px;
            background-color: white;
            margin-bottom: 6px;
            width: 28px;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -o-transition: 0.3s all;
            -ms-transition: 0.3s all;
            transition: 0.3s all;
          }
          .burger_effect {
            margin-left: -15px;
          }
        }
      }
      .cnt_bottom {
        width: 100px;
        position: initial;
        display: none;
        .navbar {
          .navbar-nav {
            .nav-link {
              color: black;
            }
            .active {
              color: $yellow;
            }
          }
          .navbar-collapse {
            background-color: $white_submenu !important;
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            height: 250px;
          }
        }
      }
    }
  }
  .search_box {
    height: calc(100vh - 65px);
    top: 65px;
  }
  .menu_mobile {
    display: block;
  }
}

@media screen and (max-width: 413px) {
  header {
    .cnt_left {
      .logo1,
      .logo2 {
        img {
          max-height: 38px;
        }
      }
      .logo1 {
        min-width: 80px;
      }
      .logo2 {
        min-width: 85px;
      }
      .ml-neg3 {
        min-width: 55px !important;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_right {
      .cnt_top {
        justify-content: flex-end;
        .navbar-toggler {
          width: 55px;
        }
      }
      .cnt_bottom {
        width: 0;
        .navbar {
          position: initial;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_left {
      width: 30%;
      .logo1,
      .logo2 {
        img {
          max-height: 47px;
        }
      }
      .logo1 {
        min-width: 99px;
      }
      .logo2 {
        min-width: 135px;
      }
      .ml-neg3 {
        min-width: 70px !important;
      }
    }
    .cnt_right {
      width: 70%;
      .cnt_bottom {
        .navbar {
          .navbar-nav {
            .nav-link {
              font-size: 13px !important;
              padding: 6px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_right {
      width: 67%;
      .cnt_bottom {
        .navbar {
          .navbar-nav {
            .nav-link {
              font-size: 14px !important;
              padding: 8px 8px !important;
            }
          }
        }
      }
    }
    .cnt_left {
      width: 33%;
    }
  }
}

@media screen and (min-width: 1400px) and (max-width: 1679px) {
  header {
    .row.pr.sm_xs {
      margin: 0;
    }
    .cnt_left {
      width: 29%;
    }
    .cnt_right {
      width: 71%;
      .cnt_bottom {
        .navbar {
          .navbar-nav {
            .nav-link {
              font-size: 16px !important;
              padding: 8px 10px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1680px) {
  .search_box {
    .cnt_search {
      .input-group {
        .form-control {
          width: 400px;
        }
      }
    }
  }
}
