// Colores mas utilizados en el Proyecto. 

$blue: #154581;
$dark_blue: #012d64;
$yellow: #ffce00;
$white_submenu: #f3f4f6;
$gray_border: #d9dee3;
$gray_calendar: #f2f2f2;
$gray_border_inputs: #6c757d;
$green: #007500;
$green_calendar: #008a00;
$purple_calendar: #822264;
$red: #cc0000;
$blue_icon: #2050f6;
$blue_arrow: #154581ac;
$blue_privacy: #1f67bf;
$gris_icon_message: #d4d9de;
$gray_disabled: #989898;
