<section>
    <article id="presentation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <figure><img src="{{ "./images/escudo_es.svg" | absURL }}" alt="escudo" class="img-fluid"></figure>
                    <h1>BIENVENIDOS AL SITIO WEB DEL MINISTERIO DE UNIVERSIDADES</h1>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-6 info">
                    <h1>
                        BIENVENIDOS 
                        AL SITIO WEB 
                        DEL MINISTERIO 
                        DE UNIVERSIDADES
                    </h1>
                    <hr />
                    <h4>«NUNCA CONSIDERES EL ESTUDIO COMO UNA OBLIGACIÓN, SINO COMO UNA OPORTUNIDAD PARA PENETRAR EN EL BELLO Y MARAVILLOSO MUNDO DEL SABER».</h4>
                </div>
                <div class="col-lg-6 image">
                    <figure><img src="./images/presentacion.svg" alt="presentation" class="img-fluid"></figure>
                </div>
            </div> -->
        </div>
    </article>
</section>