<!DOCTYPE html>
<html lang={{ if .Site.IsMultiLingual }}{{.Language}}{{end}}>
{{ partial "header-parts/head.html" . }}

<body>
    {{ partial "header.html" . }}
    <section>
        <article id="header_interno">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 box">
                        <div class="img img_expanded" style="background: url({{ .Params.section_img | absURL }});"></div>
                        <h2>{{ .Title }}</h2>
                    </div>
                </div>
            </div>
        </article>
    </section>
    {{ partial "includes/breadcrumb.html" . }} {{ if len .Content }}
    <section>
        <article id="content_text">
            <div class="container container-xl">
                <div class="row">
                    <div class="col-lg-12 box">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </article>
    </section>
    {{ end }}
    <section>
        <article>
            <div class="container container_xl_accoordion">
                <div class="row mt-4">
                    <div class="col-lg-12 content_collapse mb-120">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            {{ range $index, $sectionPages := where $.Site.RegularPages "Type" "donde-estudiar-servicios" }}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-heading{{$index}}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{$index}}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{$index}}">
                                                    {{ .Title }}
                                                </button>
                                </h2>
                                <div id="panelsStayOpen-collapse{{$index}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{$index}}">
                                    <div class="accordion-body">
                                        <article id="section_link">
                                            <div class="container-fluid">
                                                <div class="container container-xl">
                                                    <div class="row">
                                                        <div>
                                                            <p>{{ .Content }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    {{ partial "home-page-sections/sponsors-sec.html" . }} {{ partial "footer.html" . }}
</body>

</html>