
<!DOCTYPE html>
<html lang={{ if .Site.IsMultiLingual }}{{.Language}}{{end}}>
    {{ partial "header-parts/head.html" . }}
    {{ .Scratch.Set "breadcrumbClass" "space_breadcumb_top_page" }}
    {{ partial "includes/breadcrumb.html" . }}
    <body>
        {{ partial "header.html" . }}
        <section>
            <article id="section_sub_title" class="section_sub_title alt_option" style="padding-top: 0;">
                <div class="container cnt_special_spacing">
                    <div class="row">
                        <div class="col-12 subtitle d-flex align-content-center">
                            <h4>{{ i18n "Consultas generales" }}</h4>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="form_styles">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success" id="form_alert_success" style="display: none;">
                                <span class="icon"><i class="fas fa-check-circle"></i></span>
                                <span class="text">Su formulario se envió correctamente.</span>                            
                            </div>
                            <div class="alert alert-danger" id="form_alert_danger" style="display: none;">
                                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                                <span class="text">Error.</span>                            
                            </div>
                            <p class="items_required">Los campos obligatorios se identifican con un *</p>
                            <form action="https://formspree.io/f/xqknpzdw" id="contactForm">
                                <div class="mb-3">
                                    <label for="txtNombre" class="form-label">Nombre *</label>
                                    <input type="text" class="form-control" name="nombre" id="txtNombre" aria-describedby="nombreHelp">
                                    <div class="form-text error_color" id="txtNombreError" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="txtApellidos" class="form-label">Apellidos *</label>
                                    <input type="text" class="form-control" name="apellidos" id="txtApellidos" aria-describedby="apellidosHelp" />
                                    <div id="txtApellidosError" class="form-text error_color" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="txtEmail" class="form-label">Email *</label>
                                    <input type="email" name="email" class="form-control" id="txtEmail" aria-describedby="emailHelp">
                                    <div class="form-text error_color" id="txtEmailError" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                    <div class="form-text error_color" id="validationEmailError" style="display: none;">El correo introducido no tiene un formato valido.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="txtConfirmEmail" class="form-label">Confirme su Email *</label>
                                    <input type="email" class="form-control" id="txtConfirmEmail" aria-describedby="confirmEmailHelp" />
                                    <div class="form-text error_color" id="txtConfirmEmailEmpty" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                    <div id="txtConfirmEmailError" class="form-text error_color" style="display: none;">El correo introducido no coincide, vuelva a escribirlo.</div>    
                                    <div class="form-text error_color" id="validationEmailConfError" style="display: none;">El correo introducido no tiene un formato valido.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="txtTelefono" class="form-label">Telefono (opcional)</label>
                                    <input type="text" class="form-control" id="txtTelefono" name="Telefono" aria-describedby="helpTelefono" />
                                </div>
                                <div class="mb-3">
                                    <label for="txtAsunto" class="form-label">Asunto *</label>
                                    <input type="text" class="form-control" id="txtAsunto" name="Asunto" aria-describedby="asuntoHelp" />
                                    <div id="txtAsuntoError" class="form-text error_color" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="txtConsulta" class="form-label">Consulta *</label>
                                    <textarea name="consulta" class="form-control" id="txtConsulta" aria-describedby="consultaHelp" rows="6"></textarea>
                                    <div class="form-text error_color" id="txtConsultaError" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                </div>
                                <div class="col-lg-10 form-check mb-3">
                                    <input type="checkbox" class="form-check-input" id="lbl_provacity" required>
                                    <label class="form-check-label" for="lbl_provacity">Acepto la <a {{ with .Site.GetPage "politica-de-privacidad" }} href="{{ .Permalink }}"{{ end }} target="_blank">Politica de Privacidad *</a></label>
                                    <div class="form-text error_color" id="lbl_provacity_error" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                </div>
                                <div class="col-lg-10 mb-3">
                                    <div class="g-recaptcha" data-sitekey="6Ld5XSIeAAAAABEe6Q5OPybZeC2SY23WFDf7bVVY"></div>
                                    <div class="form-text error_color" id="txtRecaptchaError" style="display: none;">{{i18n "Los campos identificados con * son obligatorios"}}.</div>
                                </div>
                                <div class="row">
                                    <div class="col-12 justify-content-center mt-4 box_buttons">
                                        <button type="button" class="btn btn-lg btn_present" id="submitContactForm">
                                            Enviar Formulario
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <br/>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        {{ partial "home-page-sections/sponsors-sec.html" . }}
        {{ partial "footer.html" . }}
        <script>
            function validateEmail(email) {
                return email.match(
                    /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                );
            }
            $( document ).ready(function() {
                // Validate the form
                $("#submitContactForm").on("click", function (event) {
                    event.preventDefault()
                    let form_validated = true
                    if (grecaptcha.getResponse() == "") {
                        $("#txtRecaptchaError").css("display", "block")
                        form_validated = false
                    } 
                    else {
                        $("#txtRecaptchaError").css("display", "none")
                    }
                    if (!$("#txtNombre").val()) {
                        $("#txtNombreError").css("display", "block")
                        $("#txtNombre").addClass("input_error")
                        form_validated = false
                    }
                    else {
                        $("#txtNombreError").css("display", "none")
                        $("#txtNombre").removeClass('input_error')
                    }
                    if (!$("#txtApellidos").val()) {
                        $("#txtApellidosError").css("display", "block")
                        $("#txtApellidos").addClass("input_error")
                        form_validated = false
                    }
                    else {
                        $("#txtApellidosError").css("display", "none")
                        $("#txtApellidos").removeClass('input_error')
                    }
                    if (!$("#txtEmail").val()) {
                        $("#validationEmailError").css("display", "none")
                        $("#txtEmailError").css("display", "block")
                        $("#txtEmail").addClass("input_error")
                        form_validated = false
                    }else if (!validateEmail($("#txtEmail").val())) {
                        $("#txtEmailError").css("display", "none")
                        $("#validationEmailError").css("display", "block")
                        $("#txtEmail").addClass("input_error")
                        form_validated = false
                    }else {
                        $("#txtEmailError").css("display", "none")
                        $("#txtEmail").removeClass('input_error')
                        $("#validationEmailError").css("display", "none")
                    }
                    if (!$("#txtConfirmEmail").val()) {
                        $("#txtConfirmEmail").addClass("input_error");
                        $("#validationEmailConfError").css("display", "none");
                        $("#txtConfirmEmailError").css("display", "none")
                        $("#txtConfirmEmailEmpty").css("display", "block")

                        form_validated = false
                    }
                    else if (!validateEmail($("#txtConfirmEmail").val())) {
                        $("#txtConfirmEmail").addClass("input_error")
                        $("#validationEmailConfError").css("display", "block")
                        $("#txtConfirmEmailError").css("display", "none")
                        $("#txtConfirmEmailEmpty").css("display", "none")
                        form_validated = false
                    }
                    else if ($("#txtEmail").val() != $("#txtConfirmEmail").val()){
                        $("#validationEmailConfError").css("display", "none")
                        $("#txtConfirmEmailError").css("display", "block")
                        $("#txtConfirmEmailEmpty").css("display", "none")
                        $("#txtConfirmEmail").addClass("input_error")
                        form_validated = false
                    }
                    else {
                        $("#validationEmailConfError").css("display", "none")
                        $("#txtConfirmEmailError").css("display", "none")
                        $("#txtConfirmEmailEmpty").css("display", "none")
                        $("#txtConfirmEmail").removeClass('input_error')
                    }
                    if (!$("#txtAsunto").val()) {
                        $("#txtAsuntoError").css("display", "block")
                        $("#txtAsunto").addClass("input_error")
                        form_validated = false
                    }
                    else {
                        $("#txtAsuntoError").css("display", "none")
                        $("#txtAsunto").removeClass('input_error')
                    }
                    if (!$("#txtConsulta").val()) {
                        $("#txtConsultaError").css("display", "block")
                        $("#txtConsulta").addClass("input_error")
                        form_validated = false
                    }else {
                        $("#txtConsultaError").css("display", "none")
                        $("#txtConsulta").removeClass('input_error')
                    }
                    if (!$("#lbl_provacity").is(':checked')) {
                        $("#lbl_provacity_error").css("display", "block")
                        form_validated = false
                    }else $("#lbl_provacity_error").css("display", "none")
                    if (form_validated) $("#contactForm").submit()
                })
                // Handle the form
                $("#contactForm").submit(function(e){
                    e.preventDefault();
                    var action = $(this).attr("action");
                    $.ajax({
                    type: "POST",
                    url: action,
                    crossDomain: true,
                    data: new FormData(this),
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    headers: {
                    "Accept": "application/json"
                    }
                }).done(function() {
                    $("#form_alert_success").css("display", "block")
                    $('html, body').animate({ scrollTop: 0 }, 'fast');
                    grecaptcha.reset();
                    $('#contactForm')[0].reset();
                    setTimeout(function() {$("#form_alert_success").css("display", "none")}, 10000);
                }).fail(function() {
                    $("#form_alert_danger").css("display", "block")
                    $('html, body').animate({ scrollTop: 0 }, 'fast');
                    setTimeout(function() {$("#form_alert_danger").css("display", "none")}, 10000)
                });
                });
            });
        </script>
    </body> 
</html>